@use '../../scss/mixins';
@use '../../scss/units';

.container {
  align-items: center;
  display: flex;
  width: 100%;
}

.heart {
  fill: currentColor;
  width: 0.75rem;
}

.button {
  @include mixins.transition(background-color color);
  background-color: var(--color-text-highlight);
  padding: map-get(units.$size, element);
  border-radius: 8px;
  margin-left: auto;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background-color: var(--color-primary-highlight);
    color: var(--color-primary-highlight-active);
  }

  &:active {
    color: var(--color-primary-highlight-active);
    color: var(--color-primary);
  }
}
