$size: (
  section: 8rem,
  border: 2.25rem,
  container: 1.5rem,
  component: 1rem,
  element: 0.5rem,
  tad: 0.4rem,
);

$speed: (
  slow: 350ms,
  normal: 250ms,
  fast: 150ms,
);

$dim: (
  contentWidth: 65rem,
);

$media: (
  tablet: 900px,
  phone: 600px,
);
